<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GCAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GCAL.Properties.Settings>
            <setting name="ShowStartupTips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppDayShowMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CalendarShowMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CoreEventsShowMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MasaListShowMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TodayShowMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RatedEventsShowMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AppDayDateTime" serializeAs="String">
                <value />
            </setting>
            <setting name="AppDayLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="CalendarLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="CalendarStartDate" serializeAs="String">
                <value />
            </setting>
            <setting name="CalendarEndDate" serializeAs="String">
                <value />
            </setting>
            <setting name="CoreEventsLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="CoreEventsEndDate" serializeAs="String">
                <value />
            </setting>
            <setting name="CoreEventsStartDate" serializeAs="String">
                <value />
            </setting>
            <setting name="MasaListLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="MasaListYear" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MasaListCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RatedLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="RatedStartDate" serializeAs="String">
                <value />
            </setting>
            <setting name="RatedEndDate" serializeAs="String">
                <value />
            </setting>
            <setting name="RatedConfiguration" serializeAs="String">
                <value />
            </setting>
            <setting name="TipOfDayIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </GCAL.Properties.Settings>
    </userSettings>
</configuration>